{% extends "base.html" %}
{% block title %} <title>Detail Post </title> {% endblock %}

{% block content %}
<h1> {{ post.title}} </h1>
<p>{{ post.image }} </p>
<p>{{ post.content }} </p>
<h3> hellow</h3>

<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
<input type="submit" value="Comment">
</form>

<p>
    {% if posts %}
    {% for comment in posts %}
        <p> <strong> {{ comment.content }}-<i>{{ comment.commentor }}</i>
    <a href="{% url 'update_comment' comment.pk %}">UPdate</a>
            </strong>

    {% endfor %}

    {% endif %}
</p>
{% endblock content %}



